<div class="brand">
	<div class="brand__logo">
		<a href="<%= config.url %>">
			<%- partial('_partial/svg/nodes-logo') %>
		</a>
	</div>
	<div class="brand__name">
		<a href="<%= config.url %>">
			Nodes <span class="text-warm-pink">Engineering</span>
		</a>
	</div>

	<div class="page-header__mobile-toggle">
		<button aria-label="Menu" aria-controls="navigation" class="hamburger hamburger--slider">
			<span class="hamburger-box"><span class="hamburger-inner"></span></span>
		</button>
	</div>
</div>