$colors: (
	warm-pink: $warm-pink,
	black: $black,
	white: $white,
	black-60: $black-60,
	black-30: $black-30,
	real-white: $real-white,
	gray: $gray
);

@each $name, $color in $colors {
	.text-#{$name} {
		color: $color;
	}

	.background-#{$name} {
		background-color: $color;
	}
}
