$line-widths: 10px, 20px, 30px, 40px, 50px, 60px;
$line-names: 10, 20, 30, 40, 50, 60;

.seperator-line {
	height: 1px;
	background-color: $warm-pink;
}

@for $i from 1 through length($line-widths) {
	.seperator-line--#{nth($line-names, $i)} {
		width: nth($line-widths, $i);
	}
}

