//
//	In order to use classes like:
//	".padding--large"
//	we need to have some aliases for the size variables.
//
$small: $whitespace-small;
$medium: $whitespace-medium;
$large: $whitespace-large;
$xlarge: $whitespace-xlarge;
$xxlarge: $whitespace-xxlarge;

// We need to lists of the exact same length to loop throug,
// one references the sizing variables, and the other has the appropriate names to use in the classes.
$sizes: $small, $medium, $large, $xlarge, $xxlarge;
$names: 'small', 'medium', 'large', 'xlarge', 'xxlarge';

@for $i from 1 through length($sizes) {
	.padding--#{nth($names, $i)} {
		@include size(
			$type: padding,
			$side: all,
			$size: nth($sizes, $i)
		)
	}

	.padding-horizontal--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: horizontal,
				$size: nth($sizes, $i)
		)
	}

	.padding-vertical--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: vertical,
				$size: nth($sizes, $i)
		)
	}

	.padding-top--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: top,
				$size: nth($sizes, $i)
		)
	}

	.padding-right--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: right,
				$size: nth($sizes, $i)
		)
	}

	.padding-bottom--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: bottom,
				$size: nth($sizes, $i)
		)
	}

	.padding-left--#{nth($names, $i)} {
		@include size(
				$type: padding,
				$side: left,
				$size: nth($sizes, $i)
		)
	}
	
	//

	.margin--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: all,
				$size: nth($sizes, $i)
		)
	}

	.margin-horizontal--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: horizontal,
				$size: nth($sizes, $i)
		)
	}

	.margin-vertical--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: vertical,
				$size: nth($sizes, $i)
		)
	}

	.margin-top--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: top,
				$size: nth($sizes, $i)
		)
	}

	.margin-right--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: right,
				$size: nth($sizes, $i)
		)
	}

	.margin-bottom--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: bottom,
				$size: nth($sizes, $i)
		)
	}

	.margin-left--#{nth($names, $i)} {
		@include size(
				$type: margin,
				$side: left,
				$size: nth($sizes, $i)
		)
	}
}
