h1, h2, h3, h4, h5, h6 {
	-webkit-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	-moz-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	-ms-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	-o-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
	font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
}

p {
	-webkit-font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
	-moz-font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
	-ms-font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
	-o-font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
	font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
}

cite {
	overflow: hidden;
	text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
}

h1 {
	line-height: 1.25em;
	@include breakpoint(medium) {
		line-height: 1.125em;
	}
	@include breakpoint(large) {
		line-height: 1.05em;
	}
}

h2 {
	line-height: 1.15384615em;
	@include breakpoint(medium) {
		line-height: 1.25em;
	}
	@include breakpoint(large) {
		line-height: 1.25em;
	}
}

h3 {
	line-height: 1.13636364em;
	@include breakpoint(medium) {
		line-height: 1.25em;
	}
	@include breakpoint(large) {
		line-height: 1.25em;
	}
}

h4 {
	line-height: 1.11111111em;
	@include breakpoint(medium) {
		line-height: 1.22222222em;
	}
	@include breakpoint(large) {
		line-height: 1.22222222em;
	}
}

p {
	margin-top: 2em;
	margin-bottom: 2em;
}

p.lead,
blockquote {
	font-size: rem-calc(20);
	@include breakpoint(medium) {
		font-size: rem-calc(24);
	}
}

figure {
	margin-top: 2em;
	margin-bottom: 2em;
}