<div class="sticky-categories">
	<ul class="menu">
		<li class="<%= nIsCurrent('articles') ? 'active' : '' %>">
			<a href="<%- url_for('articles') %>">All</a>
		</li>
	</ul>

	<%- n_listcategories({
		show_current: true
	}) %>
</div>