<div class="toast" id="swCachedToast">
	<div class="toast__content">
		<div class="toast__message">
			This site is now available offline
		</div>
		<div class="toast__action">
			<button data-close-toast>
				OK
			</button>
		</div>
	</div>
</div>