<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:url" content="{{ url }}">

{% if image %}
  <meta property="og:image" content="{% if image contains 'https://' %}{{ image | replace:'https://', 'http://' }}{% else %}{{ image }}{% endif %}">
  {% if image contains 'https://' %}
    <meta property="og:image:secure_url" content="{{ image }}">
  {% endif %}
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:image:alt" content="{{ title }}"/>
{% endif %}

{% if page.is_post %}
  {% for post in site.related_posts limit:2 %}
    <meta property="og:see_also" content="{{ post.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
{% endif %}
