{% if page.image != nil %}
  {% assign bgImg = "linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('" | append: page.image | append: "');" %}
{% else %}
  {% capture image %}/assets/img/header/category-{{ page.categories.first | downcase }}.jpg{% endcapture %}
  {% assign bgImg = "linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('" | append: image | append: "');" %}
{% endif %}
<div class="jumbotron-fluid text-center page-header" style="{{ bgImg | prepend: 'background-image: ' }}">
  <div class="page-title">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <p>{{ page.subtitle }}</p>
    {% endif %}
    {% if page.date and page.authorId == null %}
      <span class="text-center text-uppercase">
        <time class="page-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
      </span>
    {% endif %}
  </div>
</div>
