<div class="row post most-recent">
  <div class="col-lg-6">
    <div class="img-container">
      <div class="image">
        {% capture image %}/assets/img/thumbnail/category-{{ post.categories.first | downcase }}.png{% endcapture %}
        {% if post.image %}
          {% assign image = post.image %}
        {% endif %}
        <div class="cover-image" style="background-image: url('{{ image }}');">
          <a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none bg-image-link"></a>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="info mb-2">
      <p class="mb-0 date"><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></p>
      <h3 class="title font-weight-bold"><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">{{ post.title }}</a></h3>
      <p class="mb-0 description">{{ post.description }}</p>
    </div>
    <div class="categories">
      {% for category in post.categories %}
        <span class="badge badge-pill badge-secondary text-center font-weight-normal category-tag category">{{ category }}</span>
      {% endfor %}
    </div>
  </div>
</div>
