<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid pl-0 pr-0">
    <a href="{{ site.baseurl }}/" class="navbar-brand p-0 m-0">
      <img src="{{ '/assets/img/logo' | relative_url }}/nodes-logo-2017.png"/>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
      <span class="sr-only">Toggle navigation</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu %}
          {% if item[1].items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item[1].label }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for subItem in item[1].items %}
                  <a class="dropdown-item" href="{{ subItem[1].url }}">{{ subItem[1].label }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ item[1].url }}" class="nav-link font-weight-normal">{{ item[1].label }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item disabled nav-separator">
          <a href="#" class="nav-link font-weight-normal color grey-5">English</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
