<div class="post">
  <div class="img-container mb-3">
    <div class="image">
      {% capture image %}/assets/img/thumbnail/category-{{ post.categories.first | downcase }}.png{% endcapture %}
      {% if post.image %}
        {% assign image = post.image %}
      {% endif %}
      <div class="cover-image" style="background-image: url('{{ image }}');">
        <a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none bg-image-link"></a>
      </div>
    </div>
  </div>
  <div class="info mb-2">
    <h6 class="mb-0 font-weight-normal date"><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></h6>
    <h5 class="title font-weight-bold"><a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none color base-2">{{ post.title }}</a></h5>
    {% if post.description %}
      {% assign excerpt = post.description %}
    {% else %}
      {% assign excerpt = post.excerpt | strip_html | truncatewords: 50 %}
    {% endif %}
    <p class="mb-0 description">{{ excerpt }}</p>
  </div>
  <div class="categories">
    {% for category in post.categories %}
      <span class="badge badge-pill badge-secondary text-center font-weight-normal category-tag category">{{ category }}</span>
    {% endfor %}
  </div>
</div>
