<div class="share-buttons d-inline-flex">
  <div class="text-center share-button">
    <a class="bg-image-link"
       target="_blank"
       href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
       data-share-url="{{ url }}"
       title="{{ title }}">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
  <div class="text-center share-button">
    <a class="bg-image-link"
       target="_blank"
       href="https://twitter.com/intent/tweet?text={{ title }}&url={{ url }}&via={{ site.social.twitter.username }}&hashtags={{ tags }}">
      <i class="fa fa-twitter"></i>
  </a>
  </div>
    <div class="text-center share-button">
      <a class="bg-image-link"
         target="_blank"
         href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary={{ description }}&source={{ title }}">
        <i class="fa fa-linkedin"></i>
      </a>
  </div>
</div>
