.article-meta {
	@include flex-grid-row($behavior: 'nest');
	@include flex-align($x: center);

	margin-top: $whitespace-base;
	margin-bottom: $whitespace-base;

	font-size: 80%;
	@include breakpoint(medium) {
		margin-top: $whitespace-large;
		margin-bottom: $whitespace-base;
		font-size: 100%;
	}
}
.article-meta__left,
.article-meta__right {
	@include flex-grid-column($columns: 12);
	@include flex;
	@include flex-align($y: middle);
	@include breakpoint(medium) {
		@include flex-grid-column($columns: 6);
	}
}

.article-meta__left {
	font-family: $header-font-family;
	color: $warm-pink;
}
.article-meta__right {
	@include breakpoint(medium) {
		justify-content: flex-end;
	}
}

.article-meta__category {
	margin-right: $whitespace-base;

	font-weight: $fontweight-bold;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.article-meta__reading-time {
	//font-weight: $fontweight-bold;
	color: $black-60;
}

.article-meta__author,
.article-meta__date {
	color: $black-60;
}
.article-meta__author {
	a {
		color: $black-60;
	}
	svg g {
		fill: $black-60;
	}
}
.article-meta__date {

}
.article-meta__dot {
	margin-right: auto;
	margin-left: auto;
}

.article-meta__authors {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		&:first-of-type {
			margin-right: 10px;
			padding: 0;
		}
		&:last-of-type {
			.article-meta__author__seperator {
				display: none;
			}
		}
	}
	.article-meta__author__seperator {
		padding-left: $whitespace-small;
		padding-right: $whitespace-small;
	}
}