.brand {
	display: flex;
	align-items: center;

	padding: $whitespace-medium 0;
}
.brand__logo {
	width: 40px;
	height: 40px;

	margin-right: $whitespace-base;
	svg, img, a {
		display: inline-block;
		width: 40px;
		height: 40px;
	}
}
.brand__name {
	.text-warm-pink {
		margin-left: $whitespace-base;
	}
}