.content {
	min-height: calc(100vh - 80px);

	background-color: $white;

	@include breakpoint(medium) {
		min-height: calc(100vh - 100px);

		margin-right: $whitespace-medium;
		margin-bottom: $whitespace-medium;
		margin-left: $whitespace-medium;
	}
}

.content__article {
	padding-top: $whitespace-medium;
	padding-bottom: $whitespace-medium;

	@include breakpoint(large) {
		padding-top: $whitespace-larger;
		padding-bottom: $whitespace-medium;
	}
}
