.content {
	margin-right: $whitespace-medium;
	margin-bottom: $whitespace-medium;
	margin-left: $whitespace-medium;

	background-color: $white;
}

.content__article {
	padding-top: $whitespace-medium;
	padding-bottom: $whitespace-medium;

	@include breakpoint(large) {
		padding-top: $whitespace-xlarge;
		padding-bottom: $whitespace-medium;
	}
}
