.hero-unit {
	margin-bottom: $whitespace-medium;
	@include breakpoint(large) {
		margin-bottom: $whitespace-xlarge;
	}

	h1 {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: $whitespace-medium;
		
		font-weight: 300;
		text-align: center;
	}
	p {
		font-family: $header-font-family;

	}
}