.hero-unit {
	margin-bottom: $whitespace-medium;
	@include breakpoint(large) {
		margin-bottom: $whitespace-xlarge;
	}

	h1 {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: $whitespace-medium;
		
		font-weight: 300;
		text-align: center;
	}
	p {
		font-family: $header-font-family;

	}
	@include breakpoint(medium) {
		h1 {
			margin-right: -16.6666%;
			margin-left: -16.6666%;
		}
	}
	@include breakpoint(large) {
		h1 {
			margin-right: -25%;
			margin-left: -25%;
		}
	}
}