.page-header {
	font-family: $header-font-family;

	a {
		color: $black;
	}
}
.page-header__block {
	@include flex-grid-row();
	@include flex-align($x: spaced);
}
.page-header__brand,
.page-header__navigation {
	@include flex-grid-column($columns: 12);
	@include breakpoint(large) {
		@include flex-grid-column($columns: 6);
	}
}
.page-header__brand {
	@include breakpoint(medium) {
		padding-right: $whitespace-medium;
		padding-left: $whitespace-medium;
	}
}
.page-header__navigation {
	text-align: right;
	padding-left: 0;
	@include breakpoint(medium) {
		padding-right: $whitespace-medium;
		padding-left: $whitespace-medium;
	}
}