.sticky-categories {
	position: fixed;

	top: 50%;
	transform: translateY(-50%);
	left: 40px;

	z-index: 100;

	font-family: $header-font-family;

	transform-style: preserve-3d;

	display: none;
	@include breakpoint(large) {
		display: block;
	}

	.menu + .menu {
		margin-top: $whitespace-small;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.menu li {
		margin-bottom: $whitespace-small;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.menu li a {
		font-size: rem-calc(14);
		line-height: $whitespace-medium;
		color: $black-30;
	}
	.menu li.active a {
		font-size: $global-font-size;
		color: $warm-pink;
	}
}