.toasts {
	position: fixed;
}
.toasts--bottom {
	bottom: 0;
	@include breakpoint(medium) {
		bottom: $whitespace-small;
	}
}
.toasts--bottom .toast {
	transform: translateY(50px);
}

.toasts--right {
	right: 0;
	left: 0;
	@include breakpoint(medium) {
		left: auto;
		right: $whitespace-small;
	}
}

.toasts--left {
	right: 0;
	left: 0;
	@include breakpoint(medium) {
		left: $whitespace-small;
		right: auto;
	}
}

.toast {
	display: none;
	opacity: 0;

	transition: all .2s;

	z-index: 100;
}
.toast__content {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	min-height: 3rem;
	max-height: 10rem;

	max-width: 100%;

	overflow: hidden;

	padding: 0 $whitespace-medium;

	font-size: 14px;
	font-family: $header-font-family;

	background-color: $apple;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: $global-radius;

	@include breakpoint(medium) {
		min-width: 300px;
	}
}

.toast__message {
	flex: 1 1 0%;
	min-width: 0;

	padding: 0 $whitespace-base / 2;

	color: $white;
}

.toast__action {
	min-width: 0;

	margin-left: $whitespace-medium;

	color: $primary-color;

	.icon path {
		fill: $primary-color;
	}

	button {
		&:focus, &:active {
			outline: none;
		}
	}
}
.toast__action--icon {
	width: 24px;
	height: 24px;
}

