<%- partial('_partial/navigation') %>
<%- partial('_partial/hero-unit-post') %>
<div class="page-content page-content--post">
	<div class="page-content__block">
		<div class="page-content__article">
			<article>
				<%- page.content %>
			</article>

			<% if(page.author) { %>
				<%- partial('_partial/widgets/author-card') %>
			<% } %>
		</div>
	</div>
</div>