<%- partial('_partial/navigation') %>
<%- partial('_partial/hero-unit-stack') %>
<div class="page-content page-content--post">
	<div class="page-content__block">
		<div class="page-content__article">
			<article>
				<%- page.content %>
			</article>
		</div>
	</div>
</div>