$primary: #8d021f; // burgundy
$info: #7f7f7f; // grey
$navbar-light-active-color: #b52c6e !important;
$font-weight-normal: 500 !default;
$font-weight-bold: 900 !default;
$pagination-color: #ababab;
$pagination-active-color: #ababab !default;
$pagination-disabled-color: #cacaca !default;
