---
layout: default
---


<div class="row justify-content-md-center">
  <div class="col-md-10">
    <article class="blog-post">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
    <div class="tags">
      {% for tag in page.tags %}
      <span class="badge badge-pill badge-secondary tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row no-gutters justify-content-md-center">
  {% for authorId in page.authorIds %}
    {% assign author = site.data.authors[authorId] %}
    {% include author.html author=author %}
  {% endfor %}
</div>

<div class="row no-gutters justify-content-md-center">
  <h3 class="related-post-text" style="padding-top: 40px;">You may also like</h3>
</div>

<div class="row no-gutters justify-content-md-center" style="padding-top: 32px;">
  {% for post in site.related_posts limit: 2 %}
  {% include related_post.html post=post %}
  {% endfor %}
</div>
