---
layout: default
---


<div class="row justify-content-md-center">
  <div class="col-md-10">
    <article class="blog-post">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
    <div class="d-flex justify-content-between">
      <div class="tags">
        {% for tag in page.tags %}
          <span class="badge badge-pill badge-secondary text-center font-weight-normal category-tag tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="share-buttons">
        {% include share_buttons.html %}
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters justify-content-md-center">
  <h3 class="text-center font-weight-bold sub-header">
    {% assign count = page.authorIds | size %}{% if count > 1 %}Authors{% else %}Author{% endif %}
  </h3>
</div>

<div class="row no-gutters justify-content-md-center">
  {% for authorId in page.authorIds %}
    {% assign author = site.data.authors[authorId] %}
    {% include author.html author=author %}
  {% endfor %}
</div>

<div class="row no-gutters justify-content-md-center mt-5">
  <h3 class="text-center font-weight-bold sub-header">You may also like</h3>
</div>

<div class="row justify-content-md-center d-flex flex-wrap posts">
  {% for post in site.related_posts limit: 2 %}
    {% include post.html post=post %}
  {% endfor %}
</div>
