---
---


@import "custom/variables";
@import 'bootstrap/bootstrap';
@import 'custom/includes/navbar';
@import 'custom/includes/header';
@import 'custom/includes/posts.scss';
@import 'custom/includes/post.scss';
@import 'custom/includes/most_recent_post.scss';
@import 'custom/includes/authors.scss';
@import 'custom/includes/pagination.scss';
@import 'custom/includes/share_buttons.scss';
@import 'custom/includes/filter.scss';
@import 'fruity.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:500,900');

body, html {
  height: 100%;
}

body {
  color: #7a7475;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 5.65em;
  line-height: 1.25em;
  font-weight: 900;
  margin-bottom: 32px;
  margin-top: 0;
}

h2 {
  font-size: 4.62em;
  line-height: 1.25em;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  font-size: 3.5em;
  line-height: 1.25em;
  font-weight: 900;
  margin-bottom: 16px;
  margin-top: 0;
}

h4 {
  font-size: 2.375em;
  line-height: 1.5em;
  font-weight: 900;
  margin-bottom: 8px;
  margin-top: 0;
}

h5 {
  font-size: 1.875em;
  line-height: 1.5em;
  font-weight: 900;
  margin-bottom: 4px;
  margin-top: 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 900;
  margin-bottom: 4px;
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-15 {
  margin-bottom: 15px;
}

.center {
  display: table;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin-bottom: 80px;
}

.text-decoration-none {
  text-decoration: none !important;
}

a.color.base-2 {
  &, &:hover, &:focus {
    color: $base-2;
  }
}

.bg-image-link {
  display:inline-block;
  width:100%;
  height:100%;
}
