---
---


@import "custom/variables";
@import 'bootstrap/bootstrap';
@import 'custom/includes/navbar';
@import 'custom/includes/header';
@import 'custom/includes/posts.scss';
@import 'custom/includes/post.scss';
@import 'custom/includes/most_recent_post.scss';
@import 'custom/includes/authors.scss';
@import 'custom/includes/pagination.scss';
@import 'custom/includes/share_buttons.scss';
@import 'custom/includes/filter.scss';
@import 'fruity.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  height: 100%;
}

body {
  color: #7a7475;
  font-size: 15px;  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-15 {
  margin-bottom: 15px;
}

.center {
  display: table;
  margin: 0 auto;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bg-image-link {
  display:inline-block;
  width:100%;
  height:100%;
}
