.authors {
  margin-top: 20px;

  .author {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f8f7f7;

    .author-content {
      padding: 30px;
    }

    .item {
      width: 100%;
      padding: 10px;

      .name {
        font-size: 32px;
        line-height: 1.25;
        color: #26080b;
      }

      .name a, a:hover, a:focus {
        color: #26080b;
      }

      .occupation {
        font-size: 15px;
        line-height: 1.41;
        color: #b52c6e;
        font-weight: 500;
      }

      .about {
        margin: 0px;
      }

      .img-container {
        align-items: center;
        justify-content: space-around;
        display: flex;
        float: none;
        overflow: hidden;

        .cover-image {
          width: 168px;
          height: 168px;
          display: block;
          border-radius: 50%;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% center;
        }
      }
    }

    .item:first-child {
      margin-bottom: 15px;
    }
  }

  &.single {
    .author {
      width: 940px !important;
      margin: 0 !important;
    }
  }

  &.two {
    .author {
      background-clip: content-box, padding-box !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .authors .author {
    width: 47%;
    margin: 10px;
  }

  .authors.two .author {
    margin: 0;
    width: 50%;

    &:first-child {
      padding-inline-end: 10px;
    }

    &:last-child {
      padding-inline-start: 10px;
    }
  }

  .authors .author .item {
    width: 100%;
    padding: 5px;
  }

  .authors .author .item .name {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .authors.two .author {
    margin: 10px;
    width: 460px;

    &:first-child {
      padding-inline-end: 0;
    }

    &:last-child {
      padding-inline-start: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .authors .author {
    width: 30%;
  }

  .authors .author .item {
    width: 100%;
    padding: 5px;
  }

  .authors .author .item .name {
    font-size: 32px;
  }
}
