.filter {
  margin-top: 16px;
  margin-bottom: 0;

  a {
    &.link {
      margin-top: 16px;
      padding: 10px 15px 10px 15px;
      margin-right: 16px;
      font-size: 15px;
      background-color: #e4e4e4;
      vertical-align: middle;
      color: $grey-4;

      &:hover, &.disabled {
        color: $white;
        background: linear-gradient(105deg, $accent-1, $accent-3);
      }

      &.disabled {
        pointer-events: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .filter {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}
