.page-header {
  position: relative;
  height: 500px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% center;
}

.page-header .page-title {
  position: absolute;
  text-align: center;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.page-header .page-date {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.page-header .page-author {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #ff4d79;
}

.page-header .page-author a, a:hover, a:focus {
  color: #ff4d79;
}
