.post.most-recent {
  margin-top: 40px;
  margin-bottom: 75px;
}

.post.most-recent .img-container {
  background: linear-gradient(105deg, #ff4d79, #b52c6e);
  border-radius: 10px;
  overflow: hidden;
}

.post.most-recent .img-container .image .cover-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post.most-recent .info {
  .date {
    color: #b52c6e;
    margin-top: 5px;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .title {
    a, a:hover, a:focus {
      color: #26080b;
    }

    h3 {
      font-size: 32px;
      line-height: 1.25;
    }
  }
}

.post.most-recent .categories {
  padding-top: 10px;
}

.post.most-recent .categories .category {
  margin-top: 10px;
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .post.most-recent .img-container .image .cover-image {
    height: 250px;
  }
}

.d-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.dd-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .d-col {
    flex: 1
  }

  .dd-col {
    flex: 2
  }
}
