.navbar {
  box-shadow: 0 8px 16px 0 rgba(39, 8, 11, 0.05), 0 4px 8px 0 rgba(39, 8, 11, 0.05);
  background-color: #ffffff;
  padding: 0;

  .nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: right;
  }

  li.disabled {
    cursor: default;

    a {
      pointer-events: none;
    }
  }
}

.nav-link {
  color: #26080b !important;

  &:hover {
    color: #b52c6e !important;
  }
}
