.posts {
  margin-top: 20px;
}

.posts .post {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
}

.posts .post .item {
  width: 100%;
  padding: 0 15px;
}

.posts .post .item:first-child {
  padding-bottom: 15px;
}

.posts .post .item .img-container {
  position: relative;
  background: linear-gradient(105deg, #ff4d79, #b52c6e);
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}

.posts .post .item .img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.posts .post .item .info .date {
  color: #b52c6e;
}

.posts .post .item .info .title a, a:hover, a:focus {
  color: #26080b;
}

.posts .post .item .info .title h3 {
  font-size: 32px;
  line-height: 1.25;
}

.posts .post .item .categories {
  padding-top: 10px;
}

.posts .post .item .categories .category {
  margin-top: 10px;
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .posts .post {
    width: 50%;
  }

  .posts .post .item {
    width: 100%;
    padding: 5px;
  }

  .posts .post .item .img-container img {
    width: 576px;
  }
}

@media screen and (min-width: 992px) {
  .posts .post {
    width: 33%;
  }

  .posts .post .item {
    width: 100%;
    padding: 5px;
  }

  .posts .post .item .img-container img {
    width: 576px;
  }
}
