.blog-post {
  margin-bottom: 58px;
  position: relative;
  font-size: 1em;
  line-height: 2.14286em;
  color: #999;

  .entry-content {
    padding-top: 64px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
      border-radius: 8px;
      overflow: hidden;
      float: none !important;
    }

    p {
      line-height: 1.75;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #000;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    code {
      color: #000;
      font-weight: bold;
    }

    .highlight {
      border-radius: 10px;
      line-height: 1.75;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    pre.highlight {
      padding: 20px;
    }

    a {
      color: #ff4d79;
    }
  }
}

.sub-header  {
  font-size: 32px;
  line-height: 1.25;
  color: #26080b;
}

.category-tag {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #898989;
  border-radius: 12px;
  background-color: #e4e4e4;
}

.tags {
  margin-bottom: 56px;

  .tag {
    margin: 3px;
  }
}

.share-buttons-container {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tags-container {
    text-align: left !important;
  }

  .share-buttons-container {
    text-align: right !important;
    padding-bottom: 0 !important;
  }
}
