.share-buttons {
  .fa-facebook {
    color: #3b5998;
  }

  .fa-twitter {
    color: #00aced;
  }

  .fa-linkedin {
    color: #007bb6;
  }

  &:last-child {
    margin-right: 0;
  }

  .share-button {
    margin-right: 8px;
    width: 85px;
    height: 24px;
    border-radius: 3px;
    border: solid 0.5px #dcdcdc;
  }
}
