html, body {
	width: 100%;
	height: 100%;
}
.page {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	.page-header {
		flex: 0;
	}
	.hero-unit {
		flex: 0;
	}
	.page-content {
		flex: 1;
	}
}

.hero-unit {
}
.hero-unit__block {
	@include flex-grid-row();
	@include flex-align($x: center);
}
.hero-unit__article {
	@include flex-grid-column($columns: 12);
	@include breakpoint(medium) {
		@include flex-grid-column($columns: 10);
	}
}

.page-content {
	@include size($type: padding, $side: top, $size: $whitespace-medium);
	background-color: $white;
	@include breakpoint(medium) {
		@include size($type: margin, $side: horizontal, $size: $whitespace-medium);
		@include size($type: margin, $side: bottom, $size: $whitespace-medium);
	}
}
.page-content__block {
	@include flex-grid-row();
	@include flex-align($x: center);
}
.page-content__article {
	@include flex-grid-column($columns: 12);
	@include breakpoint(medium) {
		@include flex-grid-column($columns: 8);
	}
}