.content.post {
	position: relative; // Enable background-lines
	@include flex-grid-row();
	@include flex-align($x: center);

	.background-lines:after {
		@include flex-grid-column($columns: 12);
		@include breakpoint(medium) {
			@include flex-grid-column($columns: 8);
		}
	}
	.content__article {
		@include flex-grid-column($columns: 12);
		padding-left: $whitespace-medium;
		padding-right: $whitespace-medium;
	}
}