.content.post {
	@include flex-grid-row();
	@include flex-align($x: center);

	@include breakpoint(medium) {
		margin-right: $whitespace-medium;
		margin-bottom: $whitespace-medium;
		margin-left: $whitespace-medium;
	}

	.content__article,
	.author-card {
		@include flex-grid-column($columns: 12);
		@include breakpoint(medium) {
			@include flex-grid-column($columns: 10);
		}
		@include breakpoint(large) {
			@include flex-grid-column($columns: 8);
		}
	}
	.content__article > p:first-of-type {
		margin-top: 0;
		@extend .lead;
	}
}