.background-lines {
	@include flex-grid-row();
	@include flex-align($x: center);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}
.background-lines:after {
	content: '';
	display: block;

	z-index: 0;

	background-image: 	linear-gradient(90deg, rgba(204, 204, 204, 0.2) 1px, transparent 1px),
						linear-gradient(90deg, rgba(204, 204, 204, 0.2) 1px, transparent 1px);
	background-size:50% 1px, 99.99% 100px;
}
