<header class="page-header">
	<div class="page-header__brand">
		<%- partial('_partial/brand') %>
	</div>
	<div class="page-header__navigation">
		<%- partial('_partial/navigation-site') %>
	</div>
</header>