<div class="hero-unit">
	<div class="hero-unit__block">
		<div class="hero-unit__article">
			<h1>
				Welcome to the Nodes Engineering site.
			</h1>
			<p class="lead text-center">Fresh out of the presses, we are proud to present our new engineering site! Here we are going to write about all things related to the development we do at Nodes.</p>
		</div>
	</div>
</div>