<div class="hero-unit">
	<div class="hero-unit__block">
		<div class="hero-unit__article">
			<div class="article-header">
				<div class="article apply-typography">
					<div class="article__title">
						<h1>
							<%- page.title %>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>