<header class="page-header">
	<div class="page-header__block">
		<div class="page-header__brand">
			<%- partial('_partial/components/brand') %>
		</div>
		<div class="page-header__navigation">
			<%- partial('_partial/components/navigation-site') %>
		</div>
	</div>
</header>