---
layout: default
title: Welcome to the Nodes Engineering site
subtitle: Fresh out of the presses, we are proud to present our new engineering site! <br/> Here we are going to write about all things related to the development we do at Nodes
image : /assets/img/header/nodes-agency-team.jpg
active: all
group: posts
pagination:
  enabled: true
  collection: posts
  title: Welcome to the Nodes Engineering site
---


{% include filter.html %}

{% if paginator.page == 1 %}
  {% assign post = site.posts.first %}
  {% include most_recent_post.html post=post %}
{% endif %}

<div class="row d-flex flex-wrap posts">
  {% for post in paginator.posts offset: 1 %}
    {% include post.html post=post %}
  {% endfor %}
</div>
